        input{
            margin:5px 0;
        }
        .container{
            
            text-align: center;
        }
        p{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }